Cython==0.24.1
matplotlib==1.5.2
nengo==2.1.2
nengo_ocl==1.0.0
notebook==4.2.3
numpy==1.11.1
pandas==0.18.1
psutil==4.3.0
git+git://github.com/jgosmann/psyrun.git@65307a3d452b3eab1cf1335de14217be01e0a825#egg=psyrun
scipy==0.18.1
seaborn==0.7.1
xarray==0.8.2
